<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115291056530-1s3d3kt2086mepnmithdrta5na372oo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115291056530-1s3d3kt2086mepnmithdrta5na372oo2</string>
	<key>API_KEY</key>
	<string>AIzaSyAj-S52nTl9E4_-Kwe-SUR1y-0FrCsCUKE</string>
	<key>GCM_SENDER_ID</key>
	<string>115291056530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.annabelleong.On-Air-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>on-air-swiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>on-air-swiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115291056530:ios:29266118178a54b2cd394b</string>
</dict>
</plist>